{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_work" work.pk %}">Редактировать</a>
    </li>

{% endblock %}

{% block content %}
    {{ test }}
    <p>
        Заголовок: {{ work.summary }}
    </p>
    <p>
      Описание:  {{ work.description }}
    </p>
    <p>
       Статус: {{ work.status }}
    </p>
    <p>Тип:</p>
    {% for type in work.types.all %}
            <p>{{ type }}</p>
    {% empty %}
        <p>Типы не выбраны</p>
    {% endfor %}
    <a href="{% url "index" %}">На главную</a>


    <div class="modal fade" id="workDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить задачу {{ work.summary }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_work" work.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
