{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="#">Создание проекта</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    <h1>Проекты</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <a href="{% url "project_view" project.pk %}" class="card-link">О проекте</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
    </div>
{% endblock %}